*.suo
*.chw
*.msi
*.pyc
*.user
*.cache
*.StyleCop
*.pidb
*.resources
*.TMP
*.userprefs
*Thumbs.db
*.VisualState.xml
src/_*
ERP/packages/*
releases
testResults
Test-*
src/Reference
ERP/bin
ERP/*/bin/*
ERP/*/obj/*
*/bin/*
*/obj/*