<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="InvoicePath" value="D:/SamsBill/Reports/{0}/Invoices/{1}/" />
	<add key="PurchaseOrderPath" value="D:/SamsBill/Reports/{0}/PurchaseOrder/{1}/" />
  </appSettings>
</configuration>